 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1253px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: -23px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1155px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  min-height: 117px;
  margin-top: 1px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-group-elements-1 {
  min-height: 101px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 101px;
  height: 101px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: -72px 0 0 115px;
}

.u-section-1 .u-group-2 {
  min-height: 310px;
  width: 298px;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-1 .u-group-elements-2 {
  width: 235px;
  min-height: 261px;
  margin: 19px auto 0;
}

.u-section-1 .u-image-2 {
  width: 153px;
  height: 31px;
  margin: 0 35px 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 0 32px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 218px;
  height: 1px;
  margin: 11px 2px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  margin: 15px 25px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 38px auto 0 12px;
  padding: 8px 52px 8px 50px;
}

.u-section-1 .u-group-3 {
  min-height: 335px;
  margin-top: 23px;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 29px;
  padding-right: 29px;
}

.u-section-1 .u-group-elements-3 {
  min-height: 278px;
  margin: 30px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 0 1px;
}

.u-section-1 .u-text-6 {
  margin: 21px 1px 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 6px auto 0 25px;
  padding: 7px 50px;
}

.u-section-1 .u-line-2 {
  transform-origin: left center 0px;
  margin-top: 16px;
  height: 1px;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-4 {
  width: 229px;
  min-height: 41px;
  margin: 30px auto 0 24px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.75rem;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 8px 15px 8px 14px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3334em;
  margin-right: 2px;
}

.u-section-1 .u-icon-2 {
  width: 22px;
  height: 22px;
  margin: -31px 26px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 22px;
  height: 22px;
  margin: -21px 0 0 auto;
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 231px;
  margin-top: 84px;
  margin-bottom: -1px;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 12px 13px;
}

.u-section-1 .u-list-1 {
  width: 298px;
  margin: 0 auto -4px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 204px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 86px;
  width: 124px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 86px;
  width: 124px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  min-height: 86px;
  width: 124px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-group-8 {
  min-height: 86px;
  width: 124px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  margin: 20px auto 0 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1155px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-group-elements-5 {
  width: 789px;
  min-height: 40px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 0 auto 0 0;
  padding: 7px 50px;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -40px auto 0 200px;
  padding: 7px 47px;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -40px 199px 0 auto;
  padding: 7px 43px 7px 42px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: -40px 0 0 auto;
  padding: 7px 44px 7px 43px;
}

.u-section-1 .u-text-11 {
  margin: 44px auto 0 21px;
}

.u-section-1 .u-blog-1 {
  width: 921px;
  margin: 20px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(50% - 11px) calc(50% - 11px);
  grid-gap: 22px 22px;
  min-height: 895px;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-9 {
  min-height: 132px;
  height: auto;
  width: 383px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  margin: 11px 0 0;
}

.u-section-1 .u-repeater-item-6 {
  background-size: auto;
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-10 {
  min-height: 132px;
  height: auto;
  background-size: auto;
  width: 383px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-18 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  margin: 11px 0 0;
}

.u-section-1 .u-repeater-item-7 {
  background-size: auto;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-11 {
  min-height: 132px;
  height: auto;
  background-size: auto;
  width: 383px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-20 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  margin: 11px 0 0;
}

.u-section-1 .u-repeater-item-8 {
  background-size: auto;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 272px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-12 {
  min-height: 132px;
  height: auto;
  background-size: auto;
  width: 383px;
  margin: 13px auto 0;
}

.u-section-1 .u-container-layout-22 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-15 {
  font-size: 0.75rem;
  margin: 11px 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1179px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-2 {
    width: 272px;
    height: auto;
  }

  .u-section-1 .u-group-elements-2 {
    width: 234px;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-elements-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-right: 25px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    margin-top: 17px;
  }

  .u-section-1 .u-group-elements-4 {
    height: auto;
    margin-left: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 262px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 179px;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-blog-1 {
    width: 830px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 807px;
  }

  .u-section-1 .u-group-9 {
    width: 384px;
    height: auto;
  }

  .u-section-1 .u-group-10 {
    width: 384px;
    height: auto;
  }

  .u-section-1 .u-group-11 {
    width: 384px;
    height: auto;
  }

  .u-section-1 .u-group-12 {
    width: 384px;
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1427px;
  }

  .u-section-1 .u-group-1 {
    min-height: 138px;
    margin-top: 0;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 0.75rem;
    margin-top: -77px;
  }

  .u-section-1 .u-group-2 {
    width: 268px;
    margin-right: 8px;
    margin-left: 8px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 218px;
    min-height: 260px;
    height: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 55px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 53px;
  }

  .u-section-1 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 46px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-left: auto;
    padding-right: 44px;
    padding-left: 43px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 155px;
    min-height: 447px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-group-elements-3 {
    min-height: 353px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-5 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 77px;
  }

  .u-section-1 .u-btn-2 {
    padding-right: 26px;
    padding-left: 24px;
  }

  .u-section-1 .u-group-elements-4 {
    width: 215px;
    margin-top: 10px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 91px;
    margin-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1427px;
  }

  .u-section-1 .u-group-elements-5 {
    width: 388px;
    min-height: 90px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 1px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 1px;
    margin-left: 0;
  }

  .u-section-1 .u-blog-1 {
    width: 635px;
    margin-top: 13px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 664px;
  }

  .u-section-1 .u-image-3 {
    height: 224px;
  }

  .u-section-1 .u-group-9 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    height: 224px;
  }

  .u-section-1 .u-group-10 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-5 {
    height: 224px;
  }

  .u-section-1 .u-group-11 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-image-6 {
    height: 224px;
  }

  .u-section-1 .u-group-12 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1731px;
  }

  .u-section-1 .u-group-2 {
    min-height: 372px;
    width: 277px;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 118px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1731px;
  }

  .u-section-1 .u-group-elements-5 {
    width: 398px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 6px;
  }

  .u-section-1 .u-blog-1 {
    margin-top: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 1332px;
    grid-template-columns: 100%;
  }

  .u-section-1 .u-image-3 {
    height: 172px;
  }

  .u-section-1 .u-image-4 {
    height: 172px;
  }

  .u-section-1 .u-image-5 {
    height: 172px;
  }

  .u-section-1 .u-image-6 {
    height: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 298px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1303px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 492px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 231px;
    width: 445px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -1px;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 6px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-3 {
    margin-top: 3px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-4 {
    min-height: 262px;
    margin-top: 6px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1501px;
  }

  .u-section-1 .u-image-3 {
    height: 176px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 176px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 176px;
  }

  .u-section-1 .u-container-layout-20 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 176px;
  }

  .u-section-1 .u-container-layout-22 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 1201px;
  }

  .u-section-1 .u-group-2 {
    min-height: 287px;
    width: 316px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-2 {
    min-height: 232px;
    width: 283px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1485px;
  }

  .u-section-1 .u-group-elements-5 {
    width: 340px;
  }

  .u-section-1 .u-btn-4 {
    padding-right: 21px;
    padding-left: 20px;
  }

  .u-section-1 .u-btn-5 {
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-btn-6 {
    padding-right: 12px;
    padding-left: 12px;
  }

  .u-section-1 .u-btn-7 {
    padding-right: 13px;
    padding-left: 13px;
  }

  .u-section-1 .u-image-3 {
    height: 191px;
  }

  .u-section-1 .u-image-4 {
    height: 191px;
  }

  .u-section-1 .u-image-5 {
    height: 191px;
  }

  .u-section-1 .u-image-6 {
    height: 191px;
  }
}